
/* mobile device */



@media screen and (max-width:480px) {

.nav-container {
  
    align-items: center;
    gap: 40px;
  }

  #search-form {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
  }

  #search-input {
    width: 60%;
  }

  /* movie part */
  

.movieHolder{
    
    flex-direction: column;
   
    

}
#movieSection{
  
    border-bottom: 2px solid red;
    border-right: 0px ;


}

#movieContainer{
    
    grid-template-columns: repeat(1,1fr);
    
}

.card{

  width:100%;
  }

#movieModal {
    width: 70%;
}
}

/* tablet */
@media screen and (min-width:481px) and (max-width:768px) {
  .movieHolder{
    
    flex-direction: column;
   
    

}
#movieSection{
  
    border-bottom: 2px solid red;
    border-right: 0px ;


}
#watchlist {
  display: grid;
   grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-top: 15px;
}

#movieContainer{
    
    grid-template-columns: repeat(2,1fr);
    
}

.card{

  width:100%;
  }

#movieModal {
    width: 70%;
}


}

/* desktop */
@media screen and (min-width:769px) and (max-width:1024px) {

    .movieHolder{
    
    flex-direction: column;
   
    

}
#movieSection{
  
    border-bottom: 2px solid red;
    border-right: 0px ;


}

#movieContainer{
    
    grid-template-columns: repeat(3,1fr);
    
}

#watchlist {
  display: grid;
   grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-top: 15px;
}

.card{

  width: 100%;
  
}

#movieModal {
    width: 70%;
}


}
 


